body{background-color: rgb(50,50,50);}
[class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
}
h1{color: #fff;}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


[class*="kachel-"], .mfoot {
	border: 10px solid rgb(50,50,50);
	background-color: #fff;
	text-align: center;
	}
.kachel-s {height: 200px;}
.kachel-m {
	height: 300px;
	padding-top: 150px;
	font-size: 4em;
	line-height: 0;
}
.kachel-l {height: 400px;}

#temp{
	font-weight: bold;
	color: rgb(249,78,35);
	}
#humm{
	font-weight: bold;
	color: rgb(21,65,118);
	}