# Trage hier deine Zugangsdaten fuer die Datenbank ein:

[DEFAULT]

# IP oder Hostname des MySQL Servers  (mit Port)
server = localhost
port = 3306

# Name der angelegten Datenbank
db = MyDB

# Username und Passwort
user = user
pw = password
